@page "/"

<PageTitle>Index</PageTitle>

<h1>THIS IS A BLAZOR TEST APPLICATION TO CHECK EFFECTIVE DEPLOYMENT TO A SERVER</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
